.git
.gitignore
.DS_Store
._*
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
venv/
node_modules/
dist/
build/
.env
front_react/frontend/node_modules/
front_react/frontend/dist/
blob_data/
postgres_data/
